.le_radio_box{
  .le_radio_item{
    float: left;
    margin-right: 10px;
    >div{
      float: left;
    }
  }
  .le_radio_item_icon{
    position: relative;
    margin-right: 6px;
    svg{
      cursor: pointer;
    }
    input[type=radio]{
      position: absolute;
      left: 0;
      opacity: 0;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
}
